/*************** Root ***************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --background-color: rgb(226, 224, 224);
    --box-shadow: 0 0 7px 0 black;
    --padding-box: 20px 50px;
    --color: black;
    --font-family: 'Montserrat', monospace;
}

body {
    font-family: var(--font-family);
}

/************ VARIABLES GENERALES ***************/

.game-window {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.game-window-active {
    display: block;
}

/*************** Choose user name ***************/

/*************** Game ***************/

/*************** Finish ***************/

/*************** User scores ***************/

.user-scores {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: var(--padding-box);
    color: var(--color);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-scores h3 {}