/*************** Root ***************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --background-color: rgb(226, 224, 224);
    --box-shadow: 0 0 7px 0 black;
    --padding-box: 5px 10px;
    --color: black;
    --font-family: "Montserrat", monospace;
}

body {
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}

/************ VARIABLES GENERALES ***************/

.game-window {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.game-window-active {
    display: block;
}

.hide-content {
    display: none !important;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 4.1em;
    font-style: oblique;
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    margin: 0;
    -webkit-box-shadow: 0px 0px 107px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 107px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 107px -25px rgba(0, 0, 0, 0.75);
}

/*************** Choose user name ***************/
.game-window .user {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.game-window .user h2 {
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}

.game-window .user input[type='text'] {
    width: 289px;
    padding: 7px 0;
    padding-left: 7px;
    margin-top: 15px;
    border: 2px solid #000;
    border-radius: 5px;

}

.game-window .user input[type='submit'] {
    width: 300px;
    padding: 5px 0;
    margin-top: 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    padding: 8px;
}

/*************** Game ***************/

.game {
    background-color: aquamarine;
}

.hangman {
    height: 50vh;
}

svg {
    scale: 0.5;
}

.output {
    height: 7vh;
}

.output input {
    width: 100%;
    height: 6vh;
}

.virtual-keyboard {
    height: 43vh;
}

.row-5 {
    display: flex;
    justify-content: center;
}

.row-6 {
    display: flex;
    justify-content: center;
}

.row-with-delete {
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

.virtual-keyboard input {
    width: 50px;
    height: 50px;
}

.virtual-keyboard input.delete {
    width: 70px;
}

.hangman-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hangman-image img {
    transform: scale(1);
    margin: -50px 0px -100px 0px;
}

.hangman-content {
    text-align: center;
}
.word-spot-light {
    font-size: 30px;
    margin: 8px 0;
}

/*************** Finish ***************/

.finish-div-total {
    padding: 40px;
    background-color: aquamarine;
}
/*************** User scores ***************/

.user-scores {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: var(--padding-box);
    color: var(--color);
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-scores p {
    font-weight: bold;
    font-size: 1.2em;
}

.user-scores .player-score {
    text-align: center;
    margin-bottom: 20px;
}

.user-scores .player-score .name {
    font-size: 1em;
    margin: 0;
}

.user-scores .player-score .status {
    font-weight: lighter;
    font-size: 1em;
    margin: 4px;

}