/************ VARIABLES GENERALES ***************/
.game-window {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.game-window-active {
    display: block;
}

/*************** Root ***************/

/*************** Choose user name ***************/

/*************** Game ***************/

/*************** Finish ***************/

/*************** User scores ***************/

