.confirm-order {
    display: flex;
    margin: 0 auto;
}

.confirm-order > :first-child {
    width: 70vw;
    background-color: lightcoral;
}

.confirm-order > :last-child {
    width: 30vw;
    background-color: lightgreen;
}

.confirm-order > :first-child,
.confirm-order > :last-child {
    padding: 15px;

}

.confirm-order input[type='checkbox'] {
    width: auto;
}

@media  screen and (max-width: 1280px) {
    .confirm-order {
        flex-direction: column;
    }
    .confirm-order :first-child,
    .confirm-order :last-child {
    width: 100vw;
}
}