.order-form-margin {
  margin: 60px 0px;
}


/* Profile */

.profile {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 200px;
}

/*.profile div.profileForm {
    width: 85%;
}*/


.profile .profileForm h2 {
    margin-bottom: 40px;
  }

  .profile .profileForm form div.formEntry {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .profile .profileForm form .formEntry label {
  margin-bottom: 8px;
}

.profileGroup {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 50%);
  }
  

.profile .profileForm .formEntry input {
  font-size: 0.9em;
  outline: none;
  border: 1px solid black;
  padding: 3px 5px;
}
/* Adress */

.address {
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 200px;
}

.adress-group {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 50%);
}

.address .form h2 {
  margin-bottom: 40px;
}

.address .form form div.formEntry {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.address .form form div.formEntry.together {
  display: flex;
  flex-direction: column;
}

.address .form form .formEntry.together .phoneInput {
  display: flex;
  flex-direction: row;
}

.address .form form .formEntry.together .phoneInput select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.address .form form .formEntry.together .phoneInput input {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;
  width: 100%;
}

.address .form form .formEntry label,
.formEntry.together label {
  margin-bottom: 8px;
}

.address .form .formEntry input,
.formEntry select {
  font-size: 0.9em;
  outline: none;
  border: 1px solid black;
  padding: 3px 5px;
}

.address .form form div.formEntryCheckbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.address .form form div.formEntryCheckbox input {
  margin-right: 10px;
  border-radius: 5px;
}

.address div.info {
  background-color: rgb(223, 222, 222);
  border: 1px solid rgba(0, 0, 0, 0.243);
  padding: 10px 20px;
  height: fit-content;
}

.address .info p span {
  font-weight: bold;
}
.address .info p.hurryUp {
  margin-top: 20px;
}

.error {
  color: red;
  font-weight: bold;
  text-align: left;
  margin-top: 8px;
  width: 100%;
}

/* Shipping */

.ship-title {
  margin-bottom: 18px;
}

.ship-type {
  display: flex;
  flex-direction: column;
}

.ship-type .form-entry {
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
}

.ship-type h3 {
  margin-bottom: 10px;
  font-size: 0.9em;
}

.ship-type input[type="radio"] {
  margin-right: 8px;
}

.ship-type label {
  font-size: 0.8em;
  font-weight: lighter;
}

.ship-type label span {
  font-weight: bold;
}

.ship-gift {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
}

.ship-gift input[type="checkbox"] {
  margin-right: 8px;
}

.ship-gift label {
  font-size: 0.8em;
  font-weight: lighter;
}

.ship-gift-message {
    margin-top: 10px;
}

.ship-gift-message p {
    font-size: 0.7em;
    color: black;
    font-weight: lighter;
}

.ship-gift-message textarea {
    margin-top: 10px;
}

.ship-gift-image {

}

.ship-gift-image p {
    font-size: 0.7em;
    color: black;
    font-weight: lighter;
}

.ship-gift-image input[type="file"] {
    margin-top: 8px;
}

@media screen and (max-width: 680px) {
  .address {
    grid-template-columns: auto;
  }

  .adress-group {
    grid-template-columns: auto;
  }
}

@media  screen and (max-width: 1300px) {
    .address {
        flex-direction: column-reverse;
        align-items: center;
        text-align: left;
    }

    .address .form form div.formEntry, .formEntryCheckbox {
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }

    .address .form form .formEntryCheckbox label {
        flex-grow: 1;
    }

    .address div.info {
        text-align: left;
        max-width: 170px;
        min-width: 170px;
        margin-bottom: 40px;
    }
}