/******* REGISTRATION POPUP *************/
.registering-time-popup {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: fit-content;
    position: fixed;
    top: 100px;
    z-index: 1000;
}

.registering-time-popup div {
    padding: 10px 20px;
    background-color: rgb(223, 222, 222);
    border: 1px solid rgba(0, 0, 0, 0.243);
    border-radius: 5px;
}

.registering-time-popup p span {
    font-weight: bold;
}

.registering-time-popup p.hurryUp {
    margin-top: 20px;
}

.hide-popup {
    animation: 1s alternate slideout;
    top: -500px;
}

.show-popup {
    animation: 1s alternate slidein;
    top: 100px;
}

@media  screen and (max-width: 980px) {
    .registering-time-popup {
        margin-top: 80px;
        justify-content: center;
        right: 0;
        top: 0;
    }
}

@keyframes slideout {
    from {top: 100px}
    to {top: -500px}
}

@keyframes slidein {
    from {top: -500px}
    to {top: 100px}
}